<div class="span9">
  <form {{action save on="submit"}} class="form-horizontal">
    <legend>Create Group</legend>
      <div {{bindAttr class=":control-group errors.name:error"}}>
        <label class="control-label" for="firstName">Group Name</label>
        <div class="controls">
          {{input value=name placeholder="Enter the name of your group" required="true" type='text'}}
          {{#each errors.name}}<span class="help-inline">{{this}}</span>{{/each}}
        </div>
      </div>
      <hr>
      <h5>Add your first contact</h5>
      {{#each contacts}}
        {{partial "contact_edit_fields"}}
      {{/each}}
      
    
    <div class="form-actions">
      {{submitButton "Create"}}
      <button class="btn" {{action cancel}}>Cancel</button>
    </div>
  </form>
</div>
